body { font-family: sans-serif; margin: 0; padding: 0; -webkit-text-size-adjust: none; }
h1 { background-color: #111111; color: #ffffff; font-size: 40px; font-weight: bold; background-image: -moz-linear-gradient(top, #3c3c3c, #111111); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3c3c3c),color-stop(1, #111111)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c3c3c', EndColorStr='#111111')"; margin: 0; padding: 0.6em 0px 0.8em 120px; text-align: center; }
#header_links { color: #ffffff; float: right; padding: 10px 10px 0 0; position: relative; text-align: right; top: 20px; width: 120px; }
#searcher, #importer { display: none; }
#logout, #back_button, .show_password_button, .delete_button, .edit_button { border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-top: 1px solid rgba(255, 255, 255, 0.296875); border-color: rgba(255, 255, 255, 0.296875); cursor: pointer; font-size: 20px; font-weight: bold; height: 35px; margin: 0; padding: 5px 0 0 0; text-align: center; text-shadow: black 0px -1px 1px; width: 120px; -webkit-box-shadow: rgba(255, 255, 255, 0.296875) 0px 1px 0px; text-shadow: 0 -1px 1px #000; background-image: -moz-linear-gradient(top, #333333, #5a5a5a); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #333333),color-stop(1, #5a5a5a)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#5a5a5a')"; }
#back_button { color: #ffffff; float: left; margin: 30px 0 0 10px; }
#login_buttons { margin: 10px auto; width: 200px; }
#login_google { background: transparent url('/images/signin_google.png') no-repeat top left; cursor: pointer; float: left; height: 31px; text-indent: -19999px; width: 93px; }
#login_yahoo { background: transparent url('/images/signin_yahoo.png') no-repeat top left; cursor: pointer; float: left; height: 31px; margin-left: 5px; text-indent: -19999px; width: 93px; }
#login_myopenid { display: none; }

#list_keys #categories { margin: 0px auto; width: 95%; }
#list_keys #categories #button_create_key { font-weight: bold; }
#list_keys #categories #list_create_key { display: none; }
#list_keys #categories ul { list-style-type: none; margin: 0; padding: 5px 10px 0 15px; }
#list_keys #categories ul li { -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px; border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em; cursor: pointer; font-size: 20px; height: 35px; margin: 0 0 5px 0; padding: 5px 0 0 0; text-align: center; }
#list_keys #categories ul li.category_item { }

#keys h3 { font-size: 30px; text-align: center; }
#keys ul { list-style-type: none; margin: 0; padding: 5px 10px 0 15px; }
#keys ul li { -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px; border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em; cursor: pointer; font-size: 20px; height: 35px; margin: 0 0 5px 0; padding: 5px 0 0 0; text-align: center; }
#keys ul li span { color: #666666; font-size: 66%; font-style: italic; margin-left: 10px; }

#entry { font-size: 30px; padding: 30px; }
#entry h3 { font-size: 30px; text-align: center; }
#entry p .copy_to_clipboard { margin-left: 10px; }
#entry div.details pre { display: inline; }
#entry .show_password_button { color: white; float: left; margin: 30px 0 0 10px; width: 220px; }
#entry .edit_button { color: white; display: none; float: left; margin: 30px 0 0 10px; width: 120px; }
#entry .delete_button { color: white; display: none; float: left; margin: 30px 0 0 10px; width: 120px; }

#password_field { background-color: #ebebeb; border: 1px solid darkgrey; margin: 30px auto; padding: 40px; width: 350px; }
#password_field #input_password { margin-left: 10px; }
