#list_keys #categories { float: left; width: 200px; }
#list_keys #keys { margin:10px auto; width: 600px; }
#list_keys #keys h3 { height: 21px; padding: .4em 2em; }

body { font-family: arial, helvetica, sans-serif; font-size:11pt; }
h1 { margin:10px auto; width:600px; border:1px solid #ddd; text-align:center; color: #111; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding:4px 0; }
#categories span { background: transparent url('/images/book.png') no-repeat 10px 8px; padding-left: 2em; }
#categories .ui-button-text, #button_create_key .ui-button-text { text-align: left; width: 170px; }
#categories .ui-button, #button_create_key { height: 31px; margin-bottom: 0.1em; overflow: hidden; }
#button_create_key span { background: transparent url('/images/add.png') no-repeat 10px 8px; padding-left: 2em; }
#password_field { width:600px; margin: 10px auto; text-align:center; border:1px solid #ddd; text-align:center; color: #111; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding:4px 0; }
.ui-widget { font-size:1em !important; }

#create_key input { margin-right: 5px; width: 300px; }
