<div id="create_key">
 <label for="create_category">Category:</label> <input type="text" id="create_category" />
 <label for="create_title">Title:</label> <input type="text" id="create_title" />
 <label for="create_username">Username:</label> <input type="text" id="create_username" />
 <label for="create_password">Password:</label> <input type="password" id="create_password" />
 <label for="create_password_repeat">Repeat:</label> <input type="password" id="create_password_repeat" />
 <label for="create_url">URL:</label> <input type="text" id="create_url" />
 <button id="create_save">Save</button>
</div>
