<div id="create_key" title="Create New Key">
 <label for="create_category">Category:</label><br />
 <input type="text" id="create_category" class="text ui-widget-content ui-corner-all" /><br />
 <label for="create_title">Title:</label><br />
 <input type="text" id="create_title" class="text ui-widget-content ui-corner-all" /><br />
 <label for="create_username">Username:</label><br />
 <input type="text" id="create_username" class="text ui-widget-content ui-corner-all" /><br />
 <label for="create_password">Password:</label><br />
 <input type="password" id="create_password" class="text ui-widget-content ui-corner-all" /><br />
 <label for="create_password_repeat">Repeat:</label><br />
 <input type="password" id="create_password_repeat" class="text ui-widget-content ui-corner-all" /><br />
 <label for="create_url">URL:</label><br />
 <input type="text" id="create_url" class="text ui-widget-content ui-corner-all" />
</div>
