<!DOCTYPE html>
<html dir="ltr" lang="de-DE">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cloud Key Storage</title>
    <meta name="google-site-verification" content="DjF0niyqct9CIKLETBl6gqWExTywV71IIWapJ_K-IAg" />
    <meta name="description" content="Cloud Keys">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <!--
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    -->
    <script src="/js/jquery.hotkeys.js"></script>
    <script src="/js/detectmobilebrowser.jquery.js"></script>
    <script type="text/javascript" src="http://crypto-js.googlecode.com/files/2.0.0-crypto-sha1-hmac-pbkdf2-ofb-aes.js"></script>
    <script type="text/javascript" src="/js/functions.js"></script>
  </head>
  <body>
    <h1>Cloud Key Storage</h1>
    <div id="content"></div>
  </body>
</html>
